body{
    background: #CCCCCC;
}


#banner{
    /*O width é a propriedade
     que devemos manipular para alterar 
     a largura do elemento.*/
    width: 100%;
}

h1{
    background: #CCCCCC;
    text-align: center
}

p{
    text-align: center;
    background: #CCCCCC;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}