.destaques{
  background: rosybrown;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: calc(100vh - 50px);
}

.destaques__principal {
  background-image: url('../img/fortnite.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;/*aqui é definido que a imagem deve ocupar todo o espaço*/

  grid-column-start: 1;/*aqui é defido onde a coluna irá começar*/
  grid-column-end: 4;/*E aqui onde termina*/
  grid-row-start: 1;/*é defido onde a linha irá começar*/
  grid-row-end: 3; /*E aqui onde termina*/
}

.destaques__secundario:nth-child(2) {/*O nth-child faz com que ele pegue apenas as configurações do segundo filho da classe pai*/
  background-image: url('../img/pubg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}