/*body{
    background: #CCCCCC;
}*/


#banner{
    /*O width é a propriedade
     que devemos manipular para alterar 
     a largura do elemento.*/
    width: 100%;
}

.principal{
    background: #CCCCCC;
    /*adicionando espaçamento interno para 
    todos os lados*/
    padding: 30px;
}

.titulo-centralizado{
    /*background: #CCCCCC;*/
    text-align: center;
}

p{
    text-align: center;
    background: #CCCCCC;
}

#missao{
    font-size: 20px;
}

em strong{
    color: red;
}

/*criando uma classe em css.
A class serve para replicarmos 
a aplicação do nosso CSS, sem 
precisar copiar e colá-lo em vários 
elementos. Aplicamos a classe para isso.*/
.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    /*adicionando espaçamento interno para 
    todos os lados*/
    padding: 20px;
}

ul{
    /*O display inline block 
    ocupa só o tamanho do conteúdo, 
    mas me deixa mexer na largura e 
    espaçamentos.*/
    display: inline-block;
    /*Neste comando, conseguimos alinhar
    pela linha de cima*/
    vertical-align: top;
    /*mexendo na largura da lista*/
    width: 20%;
    /*com esse comando estamos aumentando
    o espaçamento externo*/
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}